* {
	margin: 0;
}

h1 {
	font-family: cursive;
	font-size: 32pt;
	color: #fff;
}

html, body {
	height: 100%;
}

.formlabel {
	color: #fff;
	font-size: 14pt;
}

.formrow {
	margin-bottom: 10px;
}

#submit {
	border: 1px solid #ccc;
	background: #000;
	color: #fff;
}

#siteurl {
	font-size: 12pt;
}

.tag {
	font-size: 12pt;
	font-family: monospace;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -142px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
	height: 142px; /* .push must be the same height as .footer */
}

.footer
{
	border-top: dashed 1px #222222;
	width: 960px;
	margin: auto;
}

body
{
	background: #000000;
	color: orange;
	font-family: sans-serif;
}

.contentbox
{
	height: 200px;
	background: #cccccc;
}

.separator
{
	border-bottom: dashed 1px #222222;
	margin-bottom: 10px;
	margin-top: 3px;
}

.heading
{
	font-family: sans-serif;
	font-size: 12pt;
	border-bottom: dashed 1px #222222;
	margin-bottom: 6px;
	color: #ffffff;
}

a {
	text-decoration: none;
	color: #eeeeff
}

a:hover {
	text-decoration: underline;
	color: #eeeeff
}
